@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/pretendard/variable.css";


@font-face {
  font-family: 'NanumBrush';
  src:url('/fonts/NanumBrush.woff2') format('woff2'),
      url('/fonts/NanumBrush.ttf') format('truetype');
  font-display: swap;
}

:root {
  --logo-font: 'NanumBrush', sans-serif;
  --main-font: 'Pretendard', sans-serif;
}

body {
  font-family: var(--main-font);
}
